/*-- Fonts-- */
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Raleway:ital,wght@1,700&family=Ubuntu&display=swap');

/* --Default Styles-- */
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #eeeeee;
}


/* --Navbar Styling-- */
.nav-title{
    padding-left: 60px;
}
.nav-title:hover{
    color:#E02C6D ;
}
.nav-title h3{
    
    display: inline;
}
.nav-bar a{
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-bar a:hover{
    color: #E02C6D ;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 50px;
}
.nav-links{
    padding-left: 400px;
}

/* --Top Banner--  */

.top-banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;

}
.banner-section-title{
    font-size: 52px;
}
.prebook-button{
    background-color: #E02C6D;
    text-decoration: none;
    color: white;
    border-radius: 41px;
    height: 196px;
    width: 44px;
    font-size: 16px;
    padding: 10px;
}
.prebook-button:hover{
    background-color: rgb(93, 83, 83);
}

.photo:hover img{
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}

/* --Main Section-> Popular Collection Products -- */

.popular-collection-group{
    padding-left: 150px;
    padding-right: 150px;
}
.popular-collection-group h3{
    text-align: center;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* --Products-- */

.product-frame{
    height: 476px;
    width: 329px;
    margin-top: 15px;
    margin-right: 15px;
    
    align-items: center;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.product-frame:hover{
    transform: scale(1.01);
    transition: transform 1.2s ease-in-out;
    color: #E02C6D;
    background-color: #f3e7e7;
}
.product-frame img:hover{
    transform: scale(1.1);
    transition: transform 1.2s ease-in-out;
}
.popular-collection-group .product-frame{
    padding-left: 30px;
    padding-top: 30px; 
}
.pricing{
    font-weight: 60%;
}
.rating i{
    color: #FB8200;
}
.popular-collection-group .description{
    color: #787885;
    font-size: 14px;
    font-weight: 600%;
}
/* --See more link section--  */

.see-more-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
}
.see-more-link a{
    
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
}
.see-more-link a:hover{
    color: rgb(49, 42, 42);
}
.see-more-link i{
    padding-left: 10px;
}

/*-- Reviews and Galary section -- */
.contact-us{
    padding-bottom: 80px;
}
.contact-us-title{
    text-align: center;
}
.review{
    display: flex;
}
.review img{
    padding-left: 150px;
    width: 90%;
}
.review .product-galary:hover{
    transform: scale(1.05);
    transition: transform 1.5s ease-in-out;
}

/* --Footer Section--  */

footer{
    height: 250px;
    width: auto;
    background-color: black;
    
}
.footer-title{
    
    color: white;
    text-align: center;
}
.footer-icons a{
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.footer-icons a:hover{
    color: #E02C6D;
}


/* --Responsive-- */
/* ----------------------- */
/* --For Mobile Devices-- */


@media only screen and (max-width: 620px) {

    
    .nav-bar a{
        display: none;
    }
    .nav-title{
        padding-left: 150px;

    }
    .top-banner{
        display: flex;
        flex-direction:  column-reverse;
    
    }
    .top-banner img{
        height: 257px;
        width: 257px;
    }
    .description{
        text-align: center;
        
    }
    .description h1{
        font-size: 28px;
    }
    .prebook-button {
        
        background-color: #E02C6D;
        text-decoration: none;
        color: white;
        border-radius: 41px;
        font-size: 15px;
        padding: 9px;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .see-more-link {
        height:25px;
        width: 110px;
        padding-left: 20px;
    }
    .see-more-link a{
        font-size: 18px;
        text-align:right;
    }
    .review{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .review img{
        padding: 20px;
    }
}
/* --For Tablet and Large Mobile devices -- */

/* Hiding navbar  */

@media screen and (min-width: 620px)and (max-width: 768px) {

    .nav-bar a{
        padding-left: 13px;
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
    .top-banner{
        display: flex;
        flex-direction:  column-reverse;
    
    }
    .top-banner img{
        height: 357px;
        width: 357px;
    }
    .description{
        text-align: center;
        
    }
    .description h1{
        font-size: 32px;
    }
    .prebook-button {
        
        background-color: #E02C6D;
        text-decoration: none;
        color: white;
        border-radius: 41px;
        font-size: 15px;
        padding: 9px;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        
    }
    .see-more-link {
        height:25px;
        width: 110px;
        padding-left: 20px;
    }
    .see-more-link a{
        font-size: 18px;
        text-align:right;
    }
    .review{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    .review img{
        padding: 20px;
    }
    
}


